h1.site-title {
  font-size: 2.25rem !important;
}

img.logo {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 6rem;
}

a#zen-link span {
  display: inline-block;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  font-size: 1.75rem;
  position: relative;
  top: -2px;
}

i.fa { margin-right: 6px; }

@media (min-width: 49rem) {
  img.logo {
    margin-left: 0;
  }

  a#zen-link span {
    top: -4px;
  }

  body {
    align-items: stretch;
  }

  #sidebar-icon-links { margin-left: 0; }

  .sidebar-bottom {
     position: fixed;
     bottom: 0;
  }
}
