<nav id="sidebar-icon-links">
  <a id="zen-link" class="icon" title="Zen" area-label="Zen" href="https://zen.coderdojo.com/dojos/it/pesaro/pesaro">
    <span>&#x262F;</span>
  </a>
  <a id="facebook-link" class="icon" title="Facebook" area-label="Facebook" href="https://www.facebook.com/coderdojopesaro/">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </a>
  <a id="mail-link" class="icon" title="e-mail" area-label="e-mail" href="mailto:coderdojopesaro@gmail.com">
      <i class="fa fa-envelope-square" aria-hidden="true"></i>
  </a>
  <a id="github-link" class="icon" title="github" area-label="github" href="https://github.com/CoderdojoPesaro">
      <i class="fa fa-github-square" aria-hidden="true"></i>
  </a>
</nav>
